<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448070949732-8gcttif96o4mf9kbcpknpbbi8v86j7cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448070949732-8gcttif96o4mf9kbcpknpbbi8v86j7cm</string>
	<key>API_KEY</key>
	<string>AIzaSyDqY6c6AOV2cWmojRmD16TXp5pp_tR1e1s</string>
	<key>GCM_SENDER_ID</key>
	<string>448070949732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>arshthecoder.FreedomLand</string>
	<key>PROJECT_ID</key>
	<string>freedomland-e7ce1</string>
	<key>STORAGE_BUCKET</key>
	<string>freedomland-e7ce1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448070949732:ios:6f18effe0db1603b687871</string>
</dict>
</plist>